[Unit]
Description=Hello Release
After=network.target

[Service]
Type=simple
WorkingDirectory=/phoenix
ExecStart=/phoenix/bin/hello_release foreground
ExecStop=/phoenix/bin/hello_release stop
Restart=on-failure
RestartSec=5
Environment=PORT=4000
Environment=HOME=/phoenix
Environment=LANG=en_US.UTF-8
SyslogIdentifier=hello_release
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
